@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(15, 23, 42);
}

.toggle {
  background: rgb(27, 40, 69);
}

.active .nav-text {
  --tw-text-opacity:1;
  color:rgb(226 232 240/var(--tw-text-opacity));
}

.active .nav-indicator {
  width:4rem;
  --tw-bg-opacity:1;
  background-color:rgb(226 232 240/var(--tw-bg-opacity))
}
